@keyframes play42 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -8106px 0px;
  }
}
.shapeshifter {
  animation-duration: 700ms;
  animation-timing-function: steps(42);
  width: 193px;
  height: 152px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play42;
  animation-iteration-count: infinite;
}
